{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
$(function() {
    $('#navigation #nav_active_pairs').addClass('active');
});
</script>
{% endblock scripts %}

{% block body %}
<div id="active_pairs_page" class="page text-center">
    <div id="header_section">
        <div class="heading">
            <img src="/static/img/active_pairs.png" title="Active Pairs">
        </div>
        <div class="subheading">
            <p>{{ pair_week_label }}</p>
        </div>
    </div>
    <div id="active_pairs_table">

        {% if not active_pairs.values|length %}
                <p> Pairs not yet generated, please check with the admin.</p>
        {% endif %}
    {% for pair_data in active_pairs.values %}
        <div class="row">
            <div class="column large-5 small-5">
                <img src="{{ pair_data.0.employee_one.profile_pic.url }}" class="profile_picture">
            </div>
            <div class="column large-2 small-2">
                <div class="square {% if pair_data.1 %}green{% endif %}"></div>
                <div class="square {% if pair_data.2 %}green{% endif %}"></div>
                <div class="cB"></div>
            </div>
            <div class="column large-5 small-5">
                <img src="{{ pair_data.0.employee_two.profile_pic.url }}" class="profile_picture">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
