{% load yaari_tags %}
{% load static from staticfiles %}
<html>
<head>  
  <meta name="robots" content="noindex">
  <title>Almabase Yaari</title>
  <meta property="og:title" content="Almabase Yaari"/>

  <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
  <script type="text/javascript" src="{% static "js/jquery-latest.min.js" %}"></script>

  {% block scripts %}
  {% endblock scripts %}
</head>


<body>
{% block body %}
{% endblock body %}
</body>
</html>