{% load yaari_tags %}
{% load static from staticfiles %}
<html>
<head>  
  <meta name="robots" content="noindex">
  <title>Almabase Yaari</title>
  <meta property="og:title" content="Almabase Yaari"/>

  <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
  <script type="text/javascript" src="{% static "js/jquery-latest.min.js" %}"></script>

  {% block scripts %}
  {% endblock scripts %}
</head>


<body>
{% block header %}
<div id="navigation" class="clearfix">
  <ul>
    <li id="nav_active_pairs"><a href="/">Active Pairs</a></li>
    <li id="nav_history"><a href="/history">History</a></li>
    <li id="nav_admin_login"><a href="/admin">Admin Login</a></li>
  </ul>
</div>
{% endblock header %}
{% block body %}
{% endblock body %}
<script src="https://use.typekit.net/jdq0unb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>