{% extends "base.html" %}


{% block body %}
<div id="history_page" class="page text-center">
    <div id="header_section">
        <div class="heading">
            <p>History</p>
        </div>
    </div>
    <div id="history_table">
        {% for pair_week_data in data %}
        <div class="subheading">
            <p>{{ pair_week_data.0 }}</p>
        </div>
        {% for pairs_data in pair_week_data.1 %}
        <div class="row">
            <div class="column large-4 small-12">
                <img src="{{ pairs_data.0 }}" class="profile_picture">
                <img src="{{ pairs_data.1 }}" class="profile_picture">
            </div>
            {% for paircall_data in pairs_data.2 %}
            <div class="column large-4 small-6">
                {% if paircall_data.0 %}
                <div class="paircall_picture">
                    <img src="{% if paircall_data.1 %}{{ paircall_data.1 }}{% else %}/static/img/default_nocall.gif{% endif %}">
                </div>
                <div class="paircall_caption">
                    <p>{{ paircall_data.2 }}</p>
                </div>
                {% else %}
                <div class="paircall_picture">
                    <img src="/static/img/default_nocall.gif">
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock body %}

